<div class="title" style="text-align: center"><h2>FROM App Component</h2></div>

<!-- binding -->
<!-- <app-binding></app-binding> -->

<!-- parent to child and child to parent component passing -->
<!-- <div>{{ message }}</div>
<app-comp-interaction
  [parentData]="name"
  (childEvent)="message = $event"
></app-comp-interaction> -->

<!-- pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- services -->
<!-- sharing data from services to services-detail -->
<app-services></app-services>
<app-services-detail></app-services-detail>
